# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.xccheckout
*.moved-aside
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.pins
Package.resolved

# macOS
.DS_Store

# Secrets
Secrets.xcconfig

# CocoaPods (we don't use them, but just in case)
Pods/
Podfile.lock
